$setting-color-yellow: #ffbf1c;
$setting-color-blue: #68B0AB;

$setting-color-white: #FAF3DD;
$setting-color-gray-1: #C8D5B9;
$setting-color-gray-2: #C8D5B9;
$setting-color-gray-3: #8FC0A9;
$setting-color-gray-4: #8FC0A9;
$setting-color-gray-5: #4A7C59;
$setting-color-gray-6: #4A7C59;
$setting-color-black: #4A7C59;

$setting-color-info: #FAF3DD;

$setting-color-main: #C8D5B9;
$setting-color-alt: #ff4859;
$setting-color-text: $setting-color-black;
$setting-color-input-border: $setting-color-info;
$setting-color-input-border-focus: $setting-color-gray-3;

$setting-color-alpha-1: rgba($setting-color-black, 0.05);
$setting-color-alpha-2: rgba($setting-color-main, 0.1);
$setting-color-alpha-3: rgba($setting-color-black, 0.5);
$setting-color-alpha-5: rgba($setting-color-gray-6, 0.4);
$setting-color-alpha-6: rgba($setting-color-gray-3, 0.5);
$setting-color-alpha-7: rgba($setting-color-gray-3, 0.75);
$setting-color-alpha-8: rgba($setting-color-black, 0.24);
$setting-color-alpha-9: rgba($setting-color-main, 0.4);

$setting-color-actions: (
    info: $setting-color-info,
    warning: #f37849,
    success: #4ac38e,
    alert: #cb3d49,
);

$setting-color-statuses: (
    scheme-1-text: #C8D5B9,
    scheme-1-backgound: #e9f7f7,
    scheme-2-text: #b7b1a5,
    scheme-2-backgound: #f0ede6,
    scheme-3-text: $setting-color-gray-4,
    scheme-3-backgound: $setting-color-gray-2,
    scheme-4-text: #ff2a54,
    scheme-4-backgound: #f6dee0,
    scheme-5-text: #000,
    scheme-5-backgound: $setting-color-gray-1,
);
